{% extends 'base.html.twig' %}

{% block title %}New Livraison{% endblock %}

{% block body %}
    <h1>Creation de livraison</h1>

    {{ include('livraison/_form.html.twig') }}

    <a class="btn btn-secondary mt-2" href="{{ path('livraison_index') }}">retour a la liste</a>
{% endblock %}
