{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <h1>Creation de client</h1>

    {{ include('client/_form.html.twig') }}

    <a class="btn btn-secondary mt-2" href="{{ path('client_index') }}">retour a la liste</a>
{% endblock %}
