<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Main styles for this application -->
        {% block main_styles %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        {% endblock %}

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
